<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form method="post" action="/articles">
			<input type="text" name="articles[title]"><br>
			<input type="text" name="articles[author]"><br>
			<textarea name="articles[description]">
			</textarea><br>
			<button>Save Article</button>
		</form>
	</body>
</html>