<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h3>summary of article</h3>
		<h2> <%= article.title %> </h2>
		<p> <%= article.author %> </p>
		<p> <%= article.description %> </p>
	</body>
</html>
